<div class="jumbotron jumbotron-fluid">
  
    <h4 class="text-center font-bold">Barcelona </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR   </h5>
    <h5 class="text-center font-bold"> Wetter, Eduardo  </h5>
    
  <p class="text-center"> 
    Calle Buenos Aires, diagonal con la Plaza
Buenos Aires, a una cuadra de la Iglesia
Guadalupe. Barcelona, estado Anzoátegui.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0281 276.40.57 / 275.45.70 / 277.14.95
    </h5>
  </p>  

</div>