<div class="jumbotron jumbotron-fluid">

  <h4 class="text-center font-bold">Barquisimeto </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR  </h5>
    <h5 class="text-center font-bold"> Isturiz, Rubén  </h5>
    
  <p class="text-center"> 
    Calle Buenos Aires, diagonal con la Plaza
Buenos Aires, a una cuadra de la Iglesia
Guadalupe. Barcelona, estado Anzoátegui.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0281-931.91.93/91.95
  </p>      
        
</div>


