
<div class="jumbotron jumbotron-fluid">

  <h4 class="text-center font-bold">Canoabo </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR   </h5>
    <h5 class="text-center font-bold"> Blanco, Pedro  </h5>
    
  <p class="text-center"> 
    Carretera Canoabo-Urama, Sector Los Naranjos, Canoabo, municipio Bejuma, estado Carabobo.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0249 808-3428
   </h5>
    <h5 class="text-center font-bold">
    E-Mail: <br> simonrodriguezcanoabo@gmail.com
    </h5>
  </p>  

</div>
