      
<div class="jumbotron jumbotron-fluid">
              
  <h4 class="text-center font-bold"> Centro de Experimentación para el
Aprendizaje Permanente (CEPAP) </h4>
    
  <hr> 
    <!-- <h5 class="text-center"> DIRECTOR  </h5>
    <h5 class="text-center font-bold"> Leon, Ali  </h5> -->
    
  <p class="text-center"> 
  Av Este 2 con calle Sur 25, sector Morelos.
Edif. José Vargas Piso 1, La Candelaria,
Caracas.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0212-576.63.71/97.77/72.41
    </h5>
  </p>                     
</div>



