<div class="jumbotron jumbotron-fluid">

  <h4 class="text-center font-bold">Ciudad Bolivar </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR  </h5>
    <h5 class="text-center font-bold"> Betancour, Yosmar  </h5>
    
  <p class="text-center"> 
    Quinta. Carmen Rosa, No 72, Paseo Heres.
Ciudad.Bolívar, estado Bolívar.

    <h5 class="text-center font-bold">
    <!-- Teléfonos: <br>  -->
    </h5>
    <h5 class="text-center font-bold">
     Web: <br> <a href="https://unesrnucleobolivar.jimdo.com/" class="btn btn-rounded btn-info" >UNESR - BOLIVAR</a>
    </h5>
  </p>  

</div>





