<div class="jumbotron jumbotron-fluid">

  <h4 class="text-center font-bold">Coro </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR   </h5>
    <h5 class="text-center font-bold"> Linares, Eudorielyn  </h5>
    
  <p class="text-center"> 
    Av. Miranda, cruce con Calle Norte, S – 86,
Coro,.estado.Falcón.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0268-252.40.41/00.34
    </h5>
    <h5 class="text-center font-bold">
    E-Mail: <br> direccionunesrcoro2018@gmail.com
    </h5>
  </p>  

</div>


