<div class="jumbotron jumbotron-fluid">

  <h4 class="text-center font-bold">Maracay </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR   </h5>
    <h5 class="text-center font-bold"> Machado, Juan  </h5>
    
  <p class="text-center"> 
   AV.5 C/C 8,Urb.Caña de Azúcar,1er piso ,
módulo Administrativo Parroquia Caña de
Azúcar, municipio Mario Briceño Iragorry,
Maracay, estado Aragua.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0243-553.95.03/ 551.35.73
    </h5>
  </p>       
                         
</div>


