<div class="jumbotron jumbotron-fluid">
             
  <h4 class="text-center font-bold">Valle de la Pascua </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR  </h5>
    <h5 class="text-center font-bold"> Caldera, Joe  </h5>
    
  <p class="text-center"> 
    Tercera Transversal del Sector La Represa,
3ra. Tranversal Via El Corozo. Valle de la
Pascua, estado.Guárico.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0235-341.64.19/72.87
    </h5>
  </p>  

</div>


