<div class="jumbotron jumbotron-fluid">

        <h4 class="text-center">
POST GRADO VALENCIA  </h4>
                           <p class="text-justify"> 
       <h5 class="text-center"> DIRECTOR ACADÉMICOS </h5>
                                  Manrique Maria
                                      <br>
                    C.I:   11.821.192                  <br>
                         Telefono:
  (0414) 434.90.51
                         <br>
                         Correo:
  direccioneav2018@gmail.com

                                   
        </p>
                         
</div>



