<div class="jumbotron jumbotron-fluid">

        <h4 class="text-center">
POST GRADO CARACAS  </h4>
                           <p class="text-justify"> 
       <h5 class="text-center"> DIRECTOR ACADÉMICOS </h5>
                                   Bolett Mireya 
                                      <br>
                    C.I:   3.483.587                   <br>
                         Telefono:
    (0414) 110.06.81 
                         <br>
                         Correo:
  mireyabolett@yahoo.es 
                                   
        </p>
                         
</div>

