<div class="jumbotron jumbotron-fluid">
              
  <h4 class="text-center font-bold"> Santa Fe </h4>
    
  <hr> 
    <h5 class="text-center font-bold"> SEDE RECTORADO  </h5>
    <h5 class="text-center"> RECTOR </h5>
    <h5 class="text-center font-bold"> PhD. Ramos, Rafael Enrique  </h5>
    
  <p class="text-center"> 
   Av. José María Vargas, Urb. Santa Fe Norte, Torre Colegio de Médicos, Caracas, Apartado Postal 1080.

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0212-251.31.32/ 20.73/ 29.64
    </h5>
  </p>                               
</div>
