<div class="jumbotron jumbotron-fluid">
              
  <h4 class="text-center font-bold">Valles Del Tuy </h4>
    
  <hr> 
    <h5 class="text-center"> DIRECTOR  </h5>
    <h5 class="text-center font-bold"> Freites, José  </h5>
    
  <p class="text-center"> 

   Av. Ayacucho, sector Altamira, Edif. Unesr, municipio independencia, estado Miranda

    <h5 class="text-center font-bold">
    Teléfonos: <br> 0239-611.60.12 / 60.13
    </h5>
  </p>                               
</div>




